<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>페이지네이션</title>
  </head>
  <body>
   
    <table border="1">
      <colgroup>
        <col width="50" />
        <col width="200" />
        <col width="100" />
        
      </colgroup>
      <thead>
        <tr>
          <th>ID</th>
          <th>제목</th>
          <th>작성자</th>
          <th>생성일</th>
        </tr>
      </thead>
      <tbody> 
        <% data.forEach((lis, index) => { %>
        <tr>
          <td><%= lis.id %></td>
          <td>
          <%= lis.subject %>
        </a>
        </td>
          <td><%= lis.name %></td>
          <td><%= lis.created_at %></td>
        </tr>
        <% }) %>
      </tbody>
    </table border='1'>
    <%
    let page_size = page.page_size,
    total_list = page.total_list,
    current_page = page.current_page,
    total_page = page.total_page,
    first_page = page. first_page,
    last_page = page.last_page 
    %>
  <div>
  <ul> 
    <li>   
    <a href='/boards/target/<%= (first_page - 1) %>'> 이전으로 건너뛰기</a>
  </li>
  <li>   
    <a href='/boards/target/<%= (last_page + 1) %>'> 다음으로 건너뛰기</a>
  </li>
  </ul>
  </div>
    <button onclick="location.href='/boards/write'">글작성</button>
    <form action="/boards/cleaner" method="post">
      <button type="submit">클리너</button>
    </form>
  </body>
</html>
