<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>페이지네이션</title>
  </head>
  <body>
   
    <table border="1">
      <colgroup>
        <col width="50" />
        <col width="200" />
        <col width="100" />
        
      </colgroup>
      <thead>
        <tr>
          <th>ID</th>
          <th>제목</th>
          <th>작성자</th>
          <th>생성일</th>
        </tr>
      </thead>
      <tbody> 
        <% if(total_post_count !== 0) { %>
         <% data.forEach((lis, index) => { %>
         <tr>
          <td><%= lis.id %></td>
          <td>
          <%= lis.subject %>
          </td>
          <td><%= lis.name %></td>
          <td><%= lis.created_at %></td>
         </tr>
         <% }) %>
        <% } else { %>
          <tr>
            <td>등록된 글이 없습니다.</td>
            <td>새로 글을 입력해주세요.</td>
          </tr>
        <% } %>
      </tbody>
    </table border='1'>
  <div>
  <ul> 
    <% for(let i = start_page; i <= end_page; i++) { %> 
      <li value="<%= i %>" >
        <a href="/boards/list/<%= i %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
  </div>
    <button onclick="location.href='/boards/write'">글작성</button>
    <form action="/boards/cleaner" method="post">
      <button type="submit">클리너</button>
    </form>
  </body>
</html>
